<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Base de datos de video juegos</h4>
                      <p class="card-category">Aqui encontraras todos los videojuegos registrados junto con su información</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Titulo
                                  </th>
                                  <th>
                                      Fecha de lanzamiento
                                  </th>
                                  <th>
                                      Empresa desarrolladora
                                  </th>
                                  <th>
                                    Clasificación
                                </th>
                                  <th>
                                      Numero de reseñas
                                  </th>
                                  <th>
                                    Generos
                                </th>
                                <th>
                                    Veces jugado
                                </th>
                                <th>
                                    Jugadores activos
                                </th>
                                <th>
                                    Lista de pendientes
                                </th>
                                <th>
                                    Lista de deseos
                                </th>
                                <th>
                                    Acciones
                                </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let juego of this.lista">
                                      <td>
                                          {{juego.id}}
                                      </td>
                                      <td>
                                          {{juego.titulo}}
                                      </td>
                                      <td>
                                          {{juego.fecha}}
                                      </td>
                                      <td>
                                          {{juego.empresa}}
                                      </td>
                                      <td>
                                          {{juego.clasificacion}}
                                      </td>
                                      <td>
                                        {{juego.nresenas}}
                                    </td>
                                    <td>
                                        {{juego.genero}}
                                    </td>
                                    <td>
                                        {{juego.vjugado}}
                                    </td>
                                    <td>
                                        {{juego.npendientes}}
                                    </td>
                                    <td>
                                       {{juego.ndeseos}}
                                    </td>
                                    <td >
                                        {{juego.jactivos}}
                                    </td>
                                      <td class="td-actions text-right">
                                        <button mat-raised-button type="button" matTooltip="Eliminar registro" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </td>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
